body{
    text-align: center;
    font-size: 14px;
    border: 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color:  #1BBC98;
    max-height: 100%;
    
}

img {
    max-width: 100%;
    height: auto;
}

#login {
    border-radius: 5px;
    background-color: #EEEFF1;
    width: 300px;
    border: 0;
    padding: 20px;
    margin: 0 auto;
}

.log-button {
    background-color: #1BBC9B;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #eeeff1;
    width: 100%;
}

.new-button{
    background-color: #1BBC9B;
    color: #eeeff1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}

.textfield {
    padding: 10px;
    margin-bottom: 10px;
    width: 280px;
    border: none;
    border-radius: 5px;
}

#logo {
    margin-bottom: 8%;
    margin-top: 8%;
    width: 100%;
}

#button {
    margin-bottom: 30px;
}
