@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin-top: 4%;
    background-color: #9cb395;
}

#container {
    margin: 0 auto;
    width: 1300px;
    padding-top: 50px;
}


#header{
    width: 100%;
    height: 100px;
    background-color: #9cb395;
}

#logo{
    float: left;
    width: 250px;
    height: 100px;
    font-size: 18px;       
    background-color: #5c6e56;
}

#logo h1{
    font-family: 'Abril Fatface', cursive;
    color: #EEEFF1;
    text-align: left;
    padding-left: 15px;
}

nav {
    float: left;
    width: 1050px;
    height: 100px;
    padding-top: 40px;
    background-color: #c9d8b7;
}

#topmenu{
    height: 60px;
}

#topmenu > li {
    float: left;
    position: relative;
}

#topmenu > li > a{
    display: block;
    color: black;
    font-weight: 600;
    padding: 20px 60px;
}

ul{
    list-style: none;
}

#topmenu > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    left: 0;
    margin: 0;
    background-color: #EEEFF1;
}

#topmenu > li > ul > li{
    padding: 10px 10px 10px 10px;
}

#topmenu > li:hover > ul{
    display: block;
}

#contents {
    clear: both;
    width: 100%;
    height: 350px;
    background-color: #5c6e56;
    color: white;
}

#contents > h1 {
    padding-top: 30px;
}

#contents > img {
    width: 30%;
    float: left;
    height: 400px;
    background-color: #ebefd6;
}

footer {
    width: 910px;
    height: 50px;
    background-color: #c9d8b7;
    margin-left: 390px;
    text-align: center;
}

footer > p {
    padding-top: 15px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

table {
    width: 70%;
    text-align: center;
    padding-top: 10px;
    height: 100%;
}