* {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    font-size: 14px;
}

body {
    background-color: #1BBC98;
}

#form {
    margin-top: 10%;
    background-color: #eeeff1;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.text-field {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    padding: 10px;
    border: none;
}

.sign {
    border: none;
    border-radius: 5px;
    background-color: #1BBC9B;
    color: #eeeff1;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}